[submodule "public"]
	path = public
	url = git@github.com:isees/isees.github.io.git
	branch = master
[submodule "themes/twentyfourteen"]
	path = themes/twentyfourteen
	url = git@github.com:jaden/twentyfourteen.git
[submodule "themes/blackburn"]
	path = themes/blackburn
	url = git@github.com:yoshiharuyamashita/blackburn.git
